@use '../helpers' as *;

.new{
  background-color: #F9F9F9;
  @include tablet-above{
    &__list {
      grid-template-columns: repeat(2,1fr);
      gap: 50px;

      &-item {
        flex-direction: row;
        max-width: 500px;
        padding: 24px 24px 30px;
      }

      &-image {
        width: 120px;
        height: 120px;

      }
      a {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }

    &-tag {
      p {
        color: #335EF7;
      }
    }
  }
}