@use '../helpers' as *;

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px 80px;

  &__text {
    display: grid;
    text-align: center;
    gap: 16px;

    &-subtitle {
      font-size: 18px;
      line-height: 27px;
      color: var(--color-dark-47);
    }
  }
}

.tools__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-block: 52px;

  @include tablet1200 {
    grid-template-columns: none;
  }
}

.black-btn { 
  font-size: 20px;
  line-height: 32px;
  padding: 7px 45px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-dark-33);

  &:hover {
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.25);
    color: var(--color-light);
  }

  &::before {
    background-color: var(--color-dark);
  }
}