@use '../../helpers' as *;

.new-hero {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding-block: 31px;

  &__main {
    padding-block: 128px; 
    background-image: url(../images/new-comer/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center 40%;

    @include mobile {
      background-size: contain; 
    }

    p {
      font-size: 20px;
      line-height: 30px;
      padding-block: 24px 31px;
    }
  }

  &__btn {
    font-size: 20px;
    line-height: 61px;
    padding: 0px 27px 5px;
  }
  
}

