html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  line-height: 1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("MontserratAlternates-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--color-dark-33);
  font-family: var(--font-family-base);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 600;
  letter-spacing: 0.2px;
}

h1, .h1 {
  font-size: clamp(2rem, 1.8725490196rem + 0.522875817vw, 2.5rem);
  line-height: clamp(3.25rem, 3.1066176471rem + 0.5882352941vw, 3.8125rem);
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
  font-weight: 500;
}

.section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px 80px;
}

.section__text {
  display: grid;
  text-align: center;
  gap: 16px;
}
.section__text-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: var(--color-dark-47);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

:root {
  --color-light: #FFFFFF;
  --color-dark: #1F2E35;
  --color-dark-33: #333E44;
  --color-dark-47: #475E69;
  --color-accent: #0086D6;
  --color-accent-light: #E1EBFB;
  --font-family-base: "Poppins", sans-serif;
  --font-family-accent: "Roboto", sans-serif;
  --container-width: 1140px;
  --container-padding-x: 32px;
}

.button {
  display: inline-flex;
  padding: 10px 22px;
  color: var(--color-light);
  background: var(--color-accent);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: 0.4s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--color-accent-light);
  z-index: -1;
  transition: 0.4s;
}
.button:hover {
  color: var(--color-dark);
}
.button:hover::before {
  width: 100%;
}
.button:active::before {
  background: var(--color-dark-33);
}

.padge-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.padge-btn li {
  display: flex;
  align-items: center;
}
.padge-btn li a {
  font-size: 20px;
  font-weight: 500;
  padding: 9px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 2px;
  color: var(--color-dark);
  transition: 0.2s ease;
}
.padge-btn li a.is-active {
  color: var(--color-light);
  background-color: var(--color-dark);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
.padge-btn li a:hover {
  color: var(--color-light);
  background-color: var(--color-dark-47);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tools__list-item {
  max-width: 360px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
.tools__list-item:hover {
  box-shadow: 0 32px 56px 0 rgba(0, 0, 0, 0.08);
}
.tools__list-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 319px;
  height: 187px;
  border-radius: 5px;
  background-color: #F5F5F5;
}
.tools__list-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 28px 8px;
}
.tools__list-name p {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}
.tools__list-name span {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.2px;
}
.tools__list-description {
  font-size: 18px;
  line-height: 25.6px;
  color: var(--color-dark-47);
}
.tools__list-tags {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 16px 20px;
}
.tools__list-tags p {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding-inline: 10px;
  border-radius: 4px;
  color: var(--color-accent);
  background-color: var(--color-accent-light);
}

.free {
  color: #20C08B;
}

.premium {
  color: #FFC942;
}

.limit {
  color: #009BFF;
}

.header {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 18px;
  font-weight: 400;
}
.header__inner {
  display: flex;
  align-items: center;
  padding-block: 20px;
  position: relative;
}
.header__inner-logo {
  display: flex;
  z-index: 9999;
  flex-grow: 1.24;
}
.header__inner-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media (width <= 767.98px) {
  .header__inner-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    gap: 16px;
    padding-block: 85px 40px;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    background-color: var(--color-dark);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
  }
  .header__inner-menu--open {
    transform: translateY(0px);
  }
}
.header__inner-menu-list {
  display: flex;
  gap: 77px;
  text-transform: uppercase;
}
@media (width <= 1140.98px) {
  .header__inner-menu-list {
    gap: 50px;
  }
}
@media (width <= 767.98px) {
  .header__inner-menu-list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
.header__inner-menu-link {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 95%, var(--color-accent) 90%, var(--color-accent) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 500ms, color 500ms;
}
.header__inner-menu-link:hover {
  color: var(--color-accent);
  background-size: 100% 100%;
  background-position-x: left;
}
.header__inner-menu-link.is-active {
  color: var(--color-accent);
  font-weight: 500;
  pointer-events: none;
}
.header__inner .menu__btn {
  display: none;
}
@media (width <= 767.98px) {
  .header__inner .menu__btn {
    display: block;
    z-index: 9999;
  }
  .header__inner .menu__btn:active {
    opacity: 0.5;
  }
}

.menu--close {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.menu--close.menu--open {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.footer {
  color: var(--color-light);
  background-color: var(--color-dark);
  position: static;
}
.footer .subscribe {
  display: flex;
  text-align: center;
  align-items: center;
  padding-block: 40px 46px;
}
.footer .subscribe__title {
  margin-bottom: 24px;
}
.footer .subscribe__subtitle {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}
.footer .subscribe__form {
  display: flex;
  align-items: center;
  gap: 13px;
}
@media (width <= 767.98px) {
  .footer .subscribe__form {
    flex-direction: column;
  }
}
.footer .subscribe__form-email {
  min-width: 282px;
  font-size: 14px;
  letter-spacing: 0.2px;
  padding: 11px 16px;
  color: #737B7D;
  border-radius: 4px;
  border: none;
  outline: none;
}
.footer .subscribe__form-btn {
  padding: 12px 31px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.footer .main {
  border-top: 1px solid #666;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.25);
}
.footer .main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-block: 50px 36px;
}
@media (width <= 1140.98px) {
  .footer .main-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 480.98px) {
  .footer .main-wrapper {
    grid-template-columns: none;
  }
}
.footer .main .social {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .main .social-logo, .footer .main .social-list {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.footer .main .social-logo p, .footer .main .social-list p {
  font-family: "Montserrat Alternates";
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  transition: 0.5s ease;
}
.footer .main .social-logo p:hover, .footer .main .social-list p:hover {
  color: var(--color-accent);
}
.footer .main .social-link a > svg circle {
  transition: 0.5s ease;
}
.footer .main .social-link a > svg path {
  transition: 0.5s ease;
}
.footer .main .social-link:hover a > svg circle {
  fill: var(--color-accent);
}
.footer .main .social-link:hover a > svg path {
  fill: var(--color-dark);
}
.footer .main .resource, .footer .main .policy, .footer .main .contacts {
  line-height: 35px;
}
.footer .main .resource-title, .footer .main .policy-title, .footer .main .contacts-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 8px;
}
.footer .main .resource a, .footer .main .policy a, .footer .main .contacts a {
  transition: 0.2s ease;
}
.footer .main .resource a:hover, .footer .main .policy a:hover, .footer .main .contacts a:hover {
  color: var(--color-accent);
}
.footer .copy {
  background-color: #1D292F;
  padding-block: 15px;
  text-align: center;
  line-height: 30px;
}

.hero {
  background-color: var(--color-dark);
}
.hero__inner {
  color: var(--color-light);
  display: flex;
  gap: 93px;
}
@media (width <= 1140.98px) {
  .hero__inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
  }
}
.hero__main {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  padding-block: 112px 102px;
}
@media (width <= 1140.98px) {
  .hero__main {
    padding-block: 0px 46px;
  }
}
.hero__main-text {
  display: grid;
  gap: 16px;
  padding-bottom: 23px;
}
@media (width <= 1140.98px) {
  .hero__main-text {
    text-align: center;
    gap: 23px;
    padding-bottom: 32px;
  }
}
.hero__main-text p {
  font-size: 18px;
  line-height: 36.5px;
  letter-spacing: 0.2px;
}
.hero__main-btn {
  font-size: 20px;
  padding: 20px 32px;
  max-width: 177px;
}
@media (width <= 1140.98px) {
  .hero__main-btn {
    align-self: center;
  }
}
.hero__main-users {
  padding-top: clamp(2rem, 1.7132352941rem + 1.1764705882vw, 3.125rem);
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (width <= 1140.98px) {
  .hero__main-users {
    justify-content: center;
  }
}
.hero__main-users img {
  border: 4px solid var(--color-light);
  border-radius: 100%;
}
.hero__main-users img:not(:first-child) {
  margin-left: -30px;
}
.hero__main-users-text {
  font-weight: 500;
}
.hero__main-users-text span {
  font-weight: 400;
  color: var(--color-accent);
}
.hero__logos {
  padding-block: clamp(3.75rem, 2.9215686275rem + 3.3986928105vw, 7rem) clamp(3.75rem, 3.0171568627rem + 3.0065359477vw, 6.625rem);
}
.hero__logos-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/hero/bg.png);
  background-repeat: no-repeat;
  background-size: clamp(17.5rem, 14.8394607843rem + 10.9150326797vw, 27.9375rem);
}
.hero__logos-back .gear {
  width: clamp(6.25rem, 5.5808823529rem + 2.7450980392vw, 8.875rem);
  position: absolute;
}
.hero__logos-bg {
  display: flex;
  justify-content: center;
  width: clamp(17.5rem, 14.8394607843rem + 10.9150326797vw, 27.9375rem);
  height: clamp(17.5rem, 14.8394607843rem + 10.9150326797vw, 27.9375rem);
  position: relative;
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero__logos-bg .figma {
  position: absolute;
  top: -10%;
}
.hero__logos-bg .figma img {
  width: clamp(1.8125rem, 1.6213235294rem + 0.7843137255vw, 2.5625rem);
}
.hero__logos-bg .invision {
  position: absolute;
  top: 15%;
  right: -4%;
}
.hero__logos-bg .invision img {
  width: clamp(2.6875rem, 2.4007352941rem + 1.1764705882vw, 3.8125rem);
}
.hero__logos-bg .git {
  position: absolute;
  bottom: 15%;
  right: -4%;
}
.hero__logos-bg .git img {
  width: clamp(2.6875rem, 2.4007352941rem + 1.1764705882vw, 3.8125rem);
}
.hero__logos-bg .xd {
  position: absolute;
  bottom: -10%;
}
.hero__logos-bg .xd img {
  width: clamp(2.1875rem, 1.9485294118rem + 0.9803921569vw, 3.125rem);
}
.hero__logos-bg .vs-code {
  position: absolute;
  bottom: 15%;
  left: -4%;
}
.hero__logos-bg .vs-code img {
  width: clamp(2.25rem, 2.0110294118rem + 0.9803921569vw, 3.1875rem);
}
.hero__logos-bg .pc {
  position: absolute;
  top: 15%;
  left: -4%;
}
.hero__logos-bg .pc img {
  width: clamp(2.625rem, 2.3382352941rem + 1.1764705882vw, 3.75rem);
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(4.5rem, 4.006127451rem + 2.0261437908vw, 6.4375rem);
  height: clamp(4.5rem, 4.006127451rem + 2.0261437908vw, 6.4375rem);
  background-color: var(--color-dark-33);
  border-radius: 100%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.16));
  animation-name: spin-item;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin-item {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tools__count {
  padding-block: 70px;
}
.tools__count-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (width <= 767.98px) {
  .tools__count-list {
    gap: 16px;
  }
}
.tools__count-item {
  max-width: 360px;
  padding: 22px 49px;
  text-align: center;
}
.tools__count-item h3 {
  padding-block: 8px 16px;
}
.tools__count-item p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark-47);
}
.tools__count .item-conunt {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.tools__count .conut-1 {
  color: #0086D6;
}
.tools__count .conut-2 {
  color: #2BA093;
}
.tools__count .conut-3 {
  color: #F36;
}

.tools__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-block: 52px;
}

.black-btn {
  font-size: 20px;
  line-height: 32px;
  padding: 7px 45px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-dark-33);
}
.black-btn:hover {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.25);
  color: var(--color-light);
}
.black-btn::before {
  background-color: var(--color-dark);
}

.new {
  background-color: #F9F9F9;
}
@media (width > 1140.98px) {
  .new__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .new__list-item {
    flex-direction: row;
    max-width: 500px;
    padding: 24px 24px 30px;
  }
  .new__list-image {
    width: 120px;
    height: 120px;
  }
  .new__list a {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .new-tag p {
    color: #335EF7;
  }
}

.brands .section__inner {
  padding-block: 88px 80px;
  gap: 32px;
}
.brands .section__inner .section__text-subtitle {
  font-size: 20px;
}
@media (width <= 767.98px) {
  .brands .section__inner {
    padding-block: 102px 93px;
  }
}
.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.brands-list__item {
  max-width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border-radius: 8px;
  transition: 0.5s ease;
  cursor: default;
}
.brands-list__item:hover {
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.1);
}
.brands-list__item-img {
  margin-bottom: 20px;
}
.brands-list__item-text {
  line-height: 28px;
  letter-spacing: 0.3px;
  font-family: var(--font-family-accent);
  color: var(--color-dark-47);
}

.reviews {
  background-color: #F9F9F9;
}
.reviews .section__inner {
  gap: 50px;
}
@media (width <= 767.98px) {
  .reviews .section__inner {
    gap: 32px;
    padding-block: 50px 100px;
  }
}
.reviews .section__inner .section__text-subtitle {
  font-size: 20px;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.reviews-list__item {
  max-width: 360px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  background-color: var(--color-light);
  transition: 0.5s ease;
}
.reviews-list__item:hover {
  box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.08);
}
.reviews-list__item blockquote {
  padding-block: 21px 10px;
}
.reviews-list__item blockquote p {
  line-height: 27px;
  letter-spacing: 0.2px;
  color: var(--color-dark-47);
}
.reviews-list__item-autor {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviews-list__item-autor img {
  border-radius: 50px;
}
.reviews-list__item-autor .autor {
  line-height: 24px;
  letter-spacing: 0.2px;
}
.reviews-list__item-autor .autor-name {
  font-size: 18px;
  font-weight: 500;
}
.reviews-list__item-autor .autor-job {
  font-size: 14px;
  color: #30444E;
}

.popular-hero {
  color: var(--color-light);
  background-color: var(--color-dark);
  position: relative;
}
.popular-hero__main {
  padding-block: clamp(4.75rem, 3.4754901961rem + 5.2287581699vw, 9.75rem) 156px;
  position: relative;
  z-index: 2;
  text-align: center;
}
.popular-hero__main p {
  font-size: 20px;
  line-height: 30px;
  padding-block: 24px clamp(1.9375rem, 1.8737745098rem + 0.2614379085vw, 2.1875rem);
}
.popular-hero__btn {
  font-size: 20px;
  line-height: 61px;
  padding: 0px 27px 5px;
}
.popular-hero__bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.popular-hero__bg .bg {
  margin: 0 auto;
}
.popular-hero__bg .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular-tools .container .tools__list {
  row-gap: 50px;
  padding-block: 50px 70px;
}
@media (width <= 1140.98px) {
  .popular-tools .container .tools__list {
    row-gap: 30px;
    padding-block: 50px 50px;
  }
}
.popular-tools .container .popular-btn {
  padding-bottom: 63px;
}
@media (width <= 1140.98px) {
  .popular-tools .container .popular-btn {
    padding-bottom: 60px;
  }
}/*# sourceMappingURL=main.css.map */